@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #e4ece7;
}
.contact-img{
    width: 150px;
    border-radius: 50%;
}
.contact-img-big {
    width: 250px;
    border-radius: 50%;
}